.wrapper{
    background: url(/assets/page-not-found/errorbgsmall.jpg);
    background-repeat: no-repeat;
    background-size : cover;
    
}
.error-div{
    text-align: center;
    padding: 5%
    
}