<div class="app-full-height" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <nz-card style="width:350px;">
    <button nz-button nzType="circle" (click)="goBack()"><i nz-icon type="left"></i></button>
    <img src="assets/calorie-meter.png" class="calorie-image" alt="Calorie Meter" />
    <form nz-form [formGroup]="validateForm" class="login-form" fxLayout="column" fxLayoutAlign="start stretch">
      <nz-divider nzText="Forgot Password"></nz-divider>
      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-input-group [nzPrefix]="prefixEmail">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">
            <ng-container *ngIf="validateForm.get('email').hasError('email')">
              The input is not valid E-mail!
            </ng-container>
            <ng-container *ngIf="validateForm.get('email').hasError('required')">
              Please provide a valid email!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'" (click)="onSubmit()">
            Reset my Password
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixEmail><i nz-icon type="mail"></i></ng-template>
  </nz-card>
</div>
