.login-form {
  width: 350px;
}

.login-form-register {
  float: right;
}

.login-form-button {
  width: 100%;
}
.calorie-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
